@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Montserrat:wght@400;700;800&display=swap");

:root {
  --fonts-color: #e3d6d6;
  --fonts-color-black: #1a1c2b;
  --boton-color: #e04d01;
  --header-color: rgba(42, 37, 80, 0.96);
  --background-menu-color: linear-gradient(180deg, #251d3a 0%, #2a2550 97.88%);
  --about-color: #2a2550;
  --informacion-color: #423c6f;
  --projects-color: #d6d0d0;
  --projects-color-cards: #b7bac0;
  /* variables text */
  --texts-weight: 400;
  --titles-weight: 700;
  --titles-bold-weight: 800;
  --titles-font-family: "Merriweather", serif;
  --texts-font-family: "Montserrat", sans-serif;
  --iphone-titles-size: 18px;
  --iphone-titles-bold-size: 20px;
  --iphone-texts-size: 16px;
  --iphone-texts-height: 24px;
  --desktop-titles-size: 24px;
  --desktop-titles-bold-size: 28px;
  --desktop-texts-size: 20px;
  --desktop-texts-height: 31px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

body {
  color: var(--fonts-color);
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}
button {
  border-style: none;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(44, 39, 55, 0.87);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #f5af19, #f12711);
  border-radius: 3rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #bd4103;
}
