header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav_container {
  background-color: var(--header-color);
}

/*  */
.nav__toggle {
  position: absolute;
  cursor: pointer;
  right: 2rem;
  top: 12px;
}

.nav__toggle .close {
  display: none;
}

.nav__checkbox {
  display: none;
}

.nav__menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.red_container {
  background: var(--background-menu-color);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 4.5rem;
}

.red_container div {
  margin: 0 auto;
}

.nav__menu .contenido {
  display: none;
}

.contenido a {
  font-size: var(--iphone-titles-size);
  font-weight: var(--titles-weight);
  font-family: var(--titles-font-family);
  color: var(--fonts-color);
  margin-left: 12px;
  border-bottom: 1px solid var(--boton-color);
  border-end-start-radius: 1rem;
}

.contenido img {
  width: 4.5rem;
}

.red_container div :nth-child(3) a {
  padding-top: 1.5rem;
}

#nav__checkbox:checked ~ div.nav__menu .contenido {
  display: flex;
  align-items: center;
  margin: 2.1rem 0;
}

#nav__checkbox:checked ~ div.nav__menu {
  height: 100vh;
}

#nav__checkbox:checked ~ label.nav__toggle .close {
  display: block;
}

#nav__checkbox:checked ~ label.nav__toggle .menu {
  display: none;
}

.container_intro {
  padding: 1rem 2rem;
  display: grid;
  background: var(--about-color);
  place-items: center;
}
.container_logo {
  width: 15rem;
  height: 8.6rem;
}
.container_logo a > img {
  width: 100%;
  height: 100%;
}
.container_txts {
  text-align: center;
  margin: 0 2rem;
}
.container_txts h1 {
  font-size: var(--iphone-titles-bold-size);
  font-weight: var(--titles-bold-weight);
  font-family: var(--titles-font-family);
}
.container_txts p {
  font-size: var(--iphone-texts-size);
  font-weight: var(--texts-weight);
  font-family: var(--texts-font-family);
  line-height: var(--iphone-texts-height);
  line-break: auto;
  margin-top: 1rem;
}
.container_img-animation {
  display: none;
}
.container_sertificados {
  background: var(--informacion-color);
  padding: 1rem 2rem;
}
.container_sertificados .titles_sertificados {
  font-size: var(--iphone-titles-size);
  font-weight: var(--titles-weight);
  font-family: var(--titles-font-family);
  margin: 1rem 0;
}
.button_scroll {
  display: none;
}
.sub_container--sertificados {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
.sub_container--sertificados::-webkit-scrollbar {
  display: none;
}
.container_img--sertificados > img {
  height: 100%;
  align-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container_img--sertificados {
  width: 31rem;
  height: 23.5rem;
}
