header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.inactive {
  transform: scale(0);
}

.menu,
.close {
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

nav {
  background: var(--header-color);
  width: 100%;
  height: 55px;
}

.navar--desktop {
  display: none;
}

.navar--mobile .container_menu-mobile {
  height: 100vh;
  width: 100%;
  background: var(--background-menu-color);
}

.menu--icon {
  background: var(--header-color);
  width: 100%;
  height: 55px;
}

.menu--icon>img {
  position: absolute;
  right: 0;
  margin: 1.5rem;
}

.red_container {
  display: grid;
  place-content: center;
  height: 84vh;
}

.red_container .contenido {
  margin: 2rem 0;
}

.contenido .share_link {
  font-size: var(--iphone-titles-size);
  font-weight: var(--titles-weight);
  font-family: var(--titles-font-family);
  color: var(--fonts-color);
  margin-left: 12px;
  border-bottom: 1px solid var(--boton-color);
  border-end-start-radius: 1rem;
}

.contenido img {
  width: 4.5rem;
}
.introducion {
  display: grid;
  grid-template-areas:
    "area1"
    "area2"
    "area3";
  justify-items: center;
  height: 62.1rem;
  background: linear-gradient(122deg, #251d3a 46.87%, #ff7700 100.03%);
}
.container-img img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container-img--logo {
  grid-area: area1;
  width: 21.9rem;
  height: 12.5rem;
}
.container--text {
  grid-area: area2;
  margin: 4.7rem 0;
}
.container-img--animation_face {
  grid-area: area3;
}

.container--text h1 {
  font-size: 27px;
  font-weight: 800;
}

.container_about {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: minmax(30.5rem, 1fr);
  grid-template-rows: minmax(120px, 220px) minmax(100px, 35.4rem);
  background: var(--about-color);
  padding: 1.5rem 2rem;
}
.container_about--text h1 {
  font-size: var(--iphone-titles-bold-size);
  font-weight: var(--titles-bold-weight);
  font-family: var(--titles-font-family);
  text-align: center;
  border-bottom: 1px solid #3d3a3a;
}
.container_about--text p {
  font-size: var(--iphone-texts-size);
  font-weight: var(--texts-weight);
  font-family: var(--texts-font-family);
  line-height: var(--iphone-texts-height);
  line-break: auto;
  margin-top: 1.6rem;
}
.button-cv{
  display: inline-block;
  margin-top: 1.6rem;
    background: var(--boton-color);
    border-radius: 13px;
    color: var(--fonts-color);
      font-size: 14px;
      font-weight: 800;
      padding: 0.7rem 2rem;
      border: 1px solid var(--boton-color);
}
.button-cv:hover {
  background: var(--fonts-color);
  border: 1px solid var(--boton-color);
  color: var(--boton-color);
}

.container-img--about {
  width: 100%;
  height: 100%;
}
.container_experiencia {
  display: grid;
  justify-content: center;
  grid-template-columns: minmax(305px, 1fr);
  grid-template-rows: minmax(200px, 1fr) minmax(200px, 260px);
  background: var(--informacion-color);
  padding: 1.5rem 2rem;
}
.container_texts--certificados {
  display: grid;
  justify-items: center;
}
.container_texts--certificados h2 {
  font-size: var(--iphone-titles-bold-size);
  font-weight: var(--titles-bold-weight);
  font-family: var(--titles-font-family);
  text-align: center;
}
.container_texts--certificados p {
  font-size: var(--iphone-texts-size);
  font-weight: var(--texts-weight);
  font-family: var(--texts-font-family);
  line-height: var(--iphone-texts-height);
  line-break: auto;
  margin: 1.1rem 0 1rem;
  text-align: center;
}
.button-certificados{
  background: var(--boton-color);
  padding: 0.9rem 9rem;
    border-radius: 1.3rem;
    color: var(--fonts-color);
      font-size: var(--iphone-titles-size);
      font-weight: 800;
  border: 1px solid var(--boton-color);
}
.button-certificados:hover {
  color: var(--boton-color);
  background: var(--fonts-color);
  border: 1px solid var(--boton-color);
}
.container_tecnologias h2 {
  margin-top: 2.1rem;
  text-align: center;
  border-bottom: 1px solid #282626;
  font-size: var(--iphone-titles-bold-size);
  font-weight: var(--titles-bold-weight);
  font-family: var(--titles-font-family);
}

.container_icnos_programas {
  display: grid;
  justify-content: center;
  place-items: center;
  align-items: flex-end;
  grid-template-columns: repeat(auto-fit, minmax(47px, 55px));
  grid-template-rows: repeat(auto-fit, minmax(47px, 69px));
  gap: 2rem;
}

.container--icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 100%;
  height: 100%;
}
.container--icons > p {
  font-size: 11px;
  font-weight: 800;
  text-align: center;
}
.container_img--about {
  object-fit: cover;
}
.container_projects {
  background: var(--projects-color);
  padding: 1.5rem 2rem;
  overflow: hidden;
}
.container_projects h2 {
  text-align: center;
  color: var(--fonts-color-black);
  font-size: var(--iphone-titles-bold-size);
  font-weight: var(--titles-bold-weight);
  font-family: var(--titles-font-family);
  border-bottom: 1px solid #282626;
  margin-bottom: 1.2rem;
}
.container_projects--cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(47px, 279px));
  grid-template-rows: repeat(auto-fit, minmax(47px, 311px));
  justify-content: center;
  justify-items: center;
  gap: 2rem;
}
.card {
  background: var(--projects-color-cards);
  padding-bottom: 2rem;
}
.card .face .container_img--card > img {
  width: 27.9rem;
  height: 18.7rem;
}
.card .face h3 {
  text-align: center;
  color: var(--fonts-color-black);
  font-size: var(--iphone-titles-size);
  font-weight: var(--titles-weight);
  font-family: var(--titles-font-family);
  margin-bottom: 1.3rem;
  letter-spacing: 2px;
}

.container-redes {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "piso1 piso2"
    "piso3 piso3";
}
.container-redes .share-icons {
  display: flex;
  align-items: center;
}
.back .container-redes .github {
  grid-area: piso3;
}
.back .container-redes .share {
  grid-area: piso2;
}
.back .container-redes .figma {
  grid-area: piso1;
}
.share-icons > a {
  font-size: 13px;
  font-weight: 800;
  color: var(--fonts-color-black);
  margin-left: 4px;
  letter-spacing: 1px;
}
