header {
  position: static;
  top: 0;
  z-index: 0;
}
.navar--mobile{
  display: none;
}
.navar--desktop{
  display: block;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  
}
nav{
  height: 103px;
}

.red_container{
  display: flex;
  height: auto;
  padding-right: 2rem;
}

.red_container > .contenido {
  display: flex;
  align-items: flex-end;
  margin: 0 1rem;
}

.contenido img {
  width: 5.8rem;
  height: 6rem;
}

.contenido {
  transition: all ease-in-out 0.5s;
}

.contenido:hover {
  transform: scale(1.2);
  transform-origin: bottom;
  transition: all ease-in-out 0.2s;
}
.contenido:hover .share_link{
  display: block;
}

.contenido:hover div{
  display: block;
}
.contenido > .share_link {
  margin: 0 1rem 0 0.5rem;
  position: absolute;
  top: 65px;
  right: 0;
  text-align: end;
  justify-items: flex-end;
  display: none;
  padding: 5px;
    background: var(--fonts-color-black);
    border-radius: 9px;
    z-index: 1;
}
.contenido>div {
  width: 20px;
  height: 20px;
  background: var(--fonts-color-black);
 rotate: 50deg;
 position: absolute;
 top: 60px;
 right: 20px;
 display: none;
}


.container_intro {
  grid-template-columns: 1fr 1fr 1fr;
}
.container_logo {
  width: 27.8rem;
  height: 16rem;
}
.container_txts h1 {
  font-size: var(--desktop-titles-bold-size);
}
.container_txts p {
  font-size: var(--desktop-texts-size);
  line-height: var(--desktop-texts-height);
}
.container_img-animation {
  display: block;
  width: 36.3rem;
  height: 31.8rem;
}
.container_img-animation img {
  width: 100%;
  height: 100%;
}

.container_certificados {
  position: relative;
}
.container_certificados .titles_certificados {
  font-size: var(--desktop-titles-size);
}
.container_img--certificados {
  width: 48.3rem;
  height: 36.6rem;
}
.container_certificados .slider {
  overflow: hidden;
  scroll-behavior: smooth;
}
.button_scroll {
  display: block;
  position: absolute;
  opacity: 0.5;
}
.button_scroll:hover {
  opacity: 1;
}
.button_scroll > img {
  width: 7rem;
  height: 7rem;
}
.button-left {
  top: 20rem;
}
.button-right {
  right: 2rem;
  top: 20rem;
}
