.container_about {
  display: grid;
  background: var(--background-radial);
  padding: 2rem 3rem;
}
.container_img--daniel {
  justify-self: center;
  margin-bottom: 2.7rem;
}
.container_about--text .title {
  font-size: var(--iphone-titles-bold-size);
  font-weight: var(--titles-bold-weight);
  font-family: var(--titles-font-family);
  margin-bottom: 2.5rem;
}
.container_about--text .text {
  font-size: var(--iphone-texts-size);
  font-weight: var(--texts-weight);
  line-height: var(--iphone-texts-height);
  font-family: var(--texts-font-family);
  line-break: auto;
}
/**area de skills*/
.container_skills {
  display: grid;
  justify-content: center;
  justify-items: center;
  background: var(--background-main-color);
}
.container_skills > h1 {
  margin: 4rem 0 3.3rem;
  font-size: var(--iphone-titles-bold-size);
  font-family: var(--titles-font-family);
  font-weight: var(--titles-bold-weight);
}

.container_card--skills {
  display: grid;
  grid-template-columns: 354px;
  row-gap: 2rem;
}
.skill {
  display: grid;
  background: var(--background-relleno-card-color);
  border: 1px solid var(--background-border-card-color);
  border-radius: 13px;
  row-gap: 15px;
  padding: 2.4rem;
}
.container_text--skill {
  display: grid;
  row-gap: 15px;
}
.title_skill {
  font-size: var(--iphone-titles-size);
  font-family: var(--titles-font-family);
  font-weight: var(--titles-weight);
}
.text_skill {
  font-size: var(--iphone-texts-size);
  font-family: var(--texts-font-family);
  font-weight: var(--texts-weight);
  line-height: var(--iphone-texts-height);
  line-break: auto;
}
/** area de experiencia */
.container_experience {
  display: grid;
  justify-content: center;
  justify-items: center;
  position: relative;
  z-index: 1;
  background: var(--background-main-color);
}

.container_experience .brillo {
  width: 22.7rem;
  height: 24.6rem;
  border-radius: 100%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 230, 0, 0.46) 0%,
    rgba(245, 70, 1, 0.28) 53.12%,
    rgba(255, 0, 0, 0) 100%
  );
  position: absolute;
  top: -5rem;
  left: -8rem;
  pointer-events: none;
}
.container_experience > h1 {
  margin: 4rem 2rem 3.3rem;
  font-size: var(--iphone-titles-bold-size);
  font-family: var(--titles-font-family);
  font-weight: var(--titles-bold-weight);
  text-align: center;
}
.container_card--experience {
  display: grid;
  grid-template-columns: 354px;
  row-gap: 2rem;
  position: relative;
  z-index: 1;
}
.experience {
  display: grid;
  background: var(--background-relleno-card-color);
  border: 1px solid var(--background-border-card-color);
  justify-items: center;
  border-radius: 13px;
  row-gap: 15px;
  padding: 2.4rem;
}
.icon_experience--freelancer::before {
  content: url("../../../img/assets/icons-template/Pluma-blanca.svg");
}

.experience:hover .icon_experience--freelancer::before {
  content: url("../../../img/assets/icons-template/Pluma-color.svg");
}

.icon_experience--platzi::before {
  content: url("../../../img/assets/icons-template/platzi-blanca.svg");
}

.experience:hover .icon_experience--platzi::before {
  content: url("../../../img/assets/icons-template/platzi-color.svg");
}
.container_text--experience {
  display: grid;
  row-gap: 15px;
  text-align: center;
}
.title_experience {
  text-align: center;
  font-size: var(--iphone-titles-size);
  font-family: var(--titles-font-family);
  font-weight: var(--titles-weight);
  background: var(--fonts-radial);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text_experience {
  font-size: var(--iphone-texts-size);
  font-family: var(--texts-font-family);
  font-weight: var(--texts-weight);
  line-height: var(--iphone-texts-height);
  line-break: auto;
}
.button_experience--freelancer,
.button_experience--platzi {
  border: none;
  text-align: center;
  align-self: self-end;
  border-radius: 13px;
  width: 16.2rem;
  height: 4.6rem;
  color: var(--fonst-color);
  background-image: var(--background-botton-color);
}
.button_experience--freelancer > a,
.button_experience--platzi > a {
  text-align: center;
  font-size: var(--iphone-texts-size);
  font-weight: var(--texts-weight);
  font-family: var(--texts-font-family);
  color: var(--fonts-color);
}
.experience--freelancer:hover .button_experience--freelancer {
  background-image: linear-gradient(
    225.45deg,
    #5ce9f2 8.14%,
    rgba(21, 58, 61, 0.68) 89.86%
  );
}
.experience--platzi:hover .button_experience--platzi {
  background-image: linear-gradient(180deg, #12151c 0%, #97c93e 100%);
}

/**area de technology*/
.container_technology {
  display: grid;
  justify-content: center;
  justify-items: center;
  position: relative;
  background: var(--background-main-color);
  padding-bottom: 5rem;
}
.container_technology .brillo {
  width: 22.7rem;
  height: 24.6rem;
  border-radius: 100%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 230, 0, 0.46) 0%,
    rgba(245, 70, 1, 0.28) 53.12%,
    rgba(255, 0, 0, 0) 100%
  );
  position: absolute;
  top: -4rem;
  right: 0rem;
  pointer-events: none;
}
.container_technology > h1 {
  margin: 4rem 0 3.3rem;
  font-size: var(--iphone-titles-bold-size);
  font-family: var(--titles-font-family);
  font-weight: var(--titles-bold-weight);
  text-align: center;
  position: relative;
  z-index: 1;
}
.container_card--technology {
  display: grid;
  grid-template-columns: 354px;
  row-gap: 2rem;
  position: relative;
  z-index: 1;
}
.technology {
  display: grid;
  justify-items: center;
  background: var(--background-relleno-card-color);
  border: 1px solid var(--background-border-card-color);
  border-radius: 13px;
  row-gap: 15px;
  padding: 2.4rem;
}

.imgGit::before {
  content: url(../../../img/assets/icons-tech/git-opaco.svg);
}
.technology--Git:hover .imgGit::before {
  content: url(../../../img/assets/icons-tech/git-color.svg);
}
.imgVScode::before {
  content: url(../../../img/assets/icons-tech/vscode-opaco.svg);
}
.technology--VScode:hover .imgVScode::before {
  content: url(../../../img/assets/icons-tech/vscode-color.svg);
}
.imgHTML::before {
  content: url(../../../img/assets/icons-tech/html-opaco.svg);
}
.technology--HTML:hover .imgHTML::before {
  content: url(../../../img/assets/icons-tech/html-color.svg);
}
.imgCSS::before {
  content: url(../../../img/assets/icons-tech/css-opaco.svg);
}
.technology--CSS:hover .imgCSS::before {
  content: url(../../../img/assets/icons-tech/css-color.svg);
}
.imgJS::before {
  content: url(../../../img/assets/icons-tech/js-opaco.svg);
}
.technology--JS:hover .imgJS::before {
  content: url(../../../img/assets/icons-tech/js-color.svg);
}
.imgFigma::before {
  content: url(../../../img/assets/icons-tech/figma-opaco.svg);
}
.technology--Figma:hover .imgFigma::before {
  content: url(../../../img/assets/icons-tech/figma-color.svg);
}
.technology > h2 {
  font-size: var(--desktop-titles-size);
  font-weight: var(--titles-weight);
  font-family: var(--titles-font-family);
  background: var(--fonts-radial);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
