.container_about {
  grid-template-columns: 1fr 1fr;
}
.container_about--text {
  align-self: center;
}
.reflex{
  left: -112%;
}
.skill:hover .reflex{
  transition: 1.8s ease-in-out;
  transform: translateX(110rem);
}

.container_about--text .title,
.container_skills > h1,
.container_experience > h1,
.container_technology > h1 {
  font-size: var(--titles-desktop);
}
.container_about--text .text,
.text_skill,
.text_experience {
  font-size: var(--texts-desktop);
  line-height: var(--texts-height-desktop);
}

.container_skills {
  padding: 0 8.4rem;
}

.container_card--skills {
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2.5rem;
  row-gap: 2.5rem;
}
.title_skill,
.title_experience {
  font-size: var(--subtitles-desktop);
}

.container_experience {
  padding: 7rem 8.4rem 0;
}

.container_card--experience {
  grid-template-columns: 354px 354px;
  column-gap: 2.5rem;
}

.button_experience--freelancer,
.button_experience--platzi {
  width: 18.4rem;
  height: 5.2rem;
}
.button_experience--freelancer > a,
.button_experience--platzi > a {
  font-size: var(--texts-desktop);
}

.container_technology {
  padding: 7rem 8.4rem 20rem;
}

.technology {
  align-content: center;
  align-items: center;
}
