.container_about {
  display: grid;
  background: var(--unique-sunset);
  padding: 2rem 3rem;
}
.container_img--daniel {
  justify-self: center;
  margin-bottom: 2.7rem;
}
.container_about--text .title {
  font-size: var(--titles-iphone);
  font-weight: var(--extraBold);
  font-family: var(--titles-font-family);
  margin-bottom: 2.5rem;
}
.container_about--text .text {
  font-size: var(--texts-iphone);
  font-weight: var(--regular);
  line-height: var(--texts-height-iphone);
  font-family: var(--texts-font-family);
  line-break: auto;
}
/**area de skills*/
.container_skills {
  display: grid;
  justify-content: center;
  justify-items: center;
  background: var(--blue-night-400);
}
.container_skills > h1 {
  margin: 4rem 0 3.3rem;
  font-size: var(--titles-iphone);
  font-weight: var(--extraBold);
  font-family: var(--titles-font-family);
}

.container_card--skills {
  display: grid;
  grid-template-columns: 354px;
  row-gap: 2rem;
}
.skill {
  display: grid;
  background: var(--noble-black-500);
  border-radius: 13px;
  row-gap: 15px;
  padding: 2.4rem;
}
.container_text--skill {
  display: grid;
  row-gap: 15px;
}
.title_skill {
  font-size: var(--subtitles-iphone);
  font-weight: var(--bold);
  font-family: var(--titles-font-family);
}
.text_skill {
  font-size: var(--texts-iphone);
  font-family: var(--texts-font-family);
  font-weight: var(--regular);
  line-height: var(--texts-height-iphone);
  line-break: auto;
}
/** area de experiencia */
.container_experience {
  display: grid;
  justify-content: center;
  justify-items: center;
  position: relative;
  z-index: 1;
  background: var(--blue-night-400);
}

.container_experience .brillo {
  width: 22.7rem;
  height: 24.6rem;
  border-radius: 100%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 230, 0, 0.46) 0%,
    rgba(245, 70, 1, 0.28) 53.12%,
    rgba(255, 0, 0, 0) 100%
  );
  position: absolute;
  top: -5rem;
  left: -8rem;
  pointer-events: none;
}
.container_experience > h1 {
  margin: 4rem 2rem 3.3rem;
  font-size: var(--titles-iphone);
  font-family: var(--titles-font-family);
  font-weight: var(--extraBold);
  text-align: center;
}
.container_card--experience {
  display: grid;
  grid-template-columns: 354px;
  row-gap: 2rem;
  position: relative;
  z-index: 1;
}
.experience {
  display: grid;
  background: var(--noble-black-500);
  border: 1px solid var(--noble-black-300);
  justify-items: center;
  border-radius: 13px;
  row-gap: 15px;
  padding: 2.4rem;
}
.container_img--freelancer{
  display: flex;
  position: relative;
  align-items: self-start;
}
.icon_freelancer{
  position: absolute;
}
.icon_freelancer-color{
  transform: scale(0);
}
.experience:hover .icon_freelancer-color{
  transform: scale(1);
}

.container_text--experience {
  display: grid;
  row-gap: 15px;
  text-align: center;
}
.title_experience {
  text-align: center;
  font-size: var(--subtitles-iphone);
  font-family: var(--titles-font-family);
  font-weight: var(--extraBold);
  background: var(--sunGlow-sunRed-400g1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text_experience {
  font-size: var(--texts-iphone);
  font-family: var(--texts-font-family);
  font-weight: var(--regular);
  line-height: var(--texts-height-iphone);
  line-break: auto;
}
.button_experience--freelancer,
.button_experience--platzi {
  border: none;
  text-align: center;
  align-self: self-end;
  border-radius: 13px;
  width: 16.2rem;
  height: 4.6rem;
  color: var(--white-bone-200);
  background-image: var(--sunGlow-sunRed-400g1);
}
.button_experience--freelancer > a,
.button_experience--platzi > a {
  text-align: center;
  font-size: var(--texts-iphone);
  font-weight: var(--bold);
  font-family: var(--texts-font-family);
  color: var(--white-bone-200);
}
.experience--freelancer:hover .button_experience--freelancer {
  background-image: linear-gradient(180deg, #2A8B93 0%, #12151C 100%);
}
.experience--platzi:hover .button_experience--platzi {
  background-image: linear-gradient(360deg, #7DAC29 0%, #12151C 100%);
}

/**area de technology*/
.container_technology {
  display: grid;
  justify-content: center;
  justify-items: center;
  position: relative;
  background: var(--blue-night-400);
  padding-bottom: 5rem;
}
.container_technology .brillo {
  width: 22.7rem;
  height: 24.6rem;
  border-radius: 100%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 230, 0, 0.46) 0%,
    rgba(245, 70, 1, 0.28) 53.12%,
    rgba(255, 0, 0, 0) 100%
  );
  position: absolute;
  top: 0rem;
  right: 0rem;
  pointer-events: none;
}
.container_technology > h1 {
  margin: 4rem 0 3.3rem;
  font-size: var(--titles-iphone);
  font-family: var(--titles-font-family);
  font-weight: var(--extraBold);
  text-align: center;
  position: relative;
  z-index: 1;
}
.container_card--technology {
  display: grid;
  grid-template-columns: 354px;
  row-gap: 2rem;
  position: relative;
  z-index: 1;
}
.technology {
  display: grid;
  justify-items: center;
  background: var(--noble-black-500);
  border: 1px solid var(--noble-black-300);
  border-radius: 13px;
  row-gap: 15px;
  padding: 4.2rem;
}

.containeri-img--icons{
  display: flex;
  position: relative;
}

.icon-blanco{
  position: absolute;
}
.icon-color{
  transform: scale(0);
}
.technology:hover .icon-color{
  transform: scale(1);
}
.technology > h2 {
  font-size: var(--subtitles-desktop);
  font-weight: var(--bold);
  font-family: var(--titles-font-family);
  background: var(--sunGlow-sunRed-400g1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
