.container_about {
  display: grid;
  background: var(--unique-sunset);
  padding: 2rem 3rem;
}
.container_img--daniel {
  justify-self: center;
  margin-bottom: 2.7rem;
}
.container_img--daniel {
  animation: float 3s infinite ease-in-out;
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1rem);
  }
}
.container_about--text .title {
  font-size: var(--titles-iphone);
  font-weight: var(--extraBold);
  font-family: var(--titles-font-family);
  margin-bottom: 2.5rem;
}
.container_about--text .text,
.text_skill,
.text_experience {
  font-size: var(--texts-iphone);
  font-weight: var(--regular);
  line-height: var(--texts-height-iphone);
  font-family: var(--texts-font-family);
  line-break: auto;
}
/**area de skills*/
.container_skills {
  display: grid;
  background: var(--blue-night-400);
}
.container_skills > h1 {
  margin: 4rem 0 3.3rem;
  text-align: center;
  font-size: var(--titles-iphone);
  font-weight: var(--extraBold);
  font-family: var(--titles-font-family);
}

.container_card--skills {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(32.3rem, 35.4rem));
  gap: 2rem;
  z-index: 2;
}
.skill {
  display: grid;
  position: relative;
  overflow: hidden;
  background: var(--noble-black-500);
  border-radius: 13px;
  row-gap: 15px;
  padding: 2.4rem;
}
.reflex {
  width: 3rem;
  height: 220%;
  position: absolute;
  top: -10rem;
  left: -40%;
}
.reflex div {
  width: 100%;
  height: 100%;
  transform: rotate(30deg);
  background: var(--white-bone-200);
}
.skill:hover .reflex {
  transition: 2s ease-in-out;
  transform: translateX(90rem);
}
.skill:hover .icon_skill {
  transition: 1s ease-in-out;
  transform: rotateY(360deg);
}
.container_text--skill {
  display: grid;
  row-gap: 15px;
}
.title_skill {
  font-size: var(--subtitles-iphone);
  font-weight: var(--bold);
  font-family: var(--titles-font-family);
}

/** area de experiencia */
.container_experience {
  display: grid;
  justify-content: center;
  justify-items: center;
  position: relative;
  z-index: 1;
  background: var(--blue-night-400);
}
.brillo,
.brillo-top,
.brillo-bottom {
  animation: respite 2s infinite cubic-bezier(0.18, 0.35, 0.63, 0.4);
}
@keyframes respite {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

.container_experience .brillo {
  width: 22.7rem;
  height: 24.6rem;
  border-radius: 100%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 230, 0, 0.46) 0%,
    rgba(245, 70, 1, 0.28) 53.12%,
    rgba(255, 0, 0, 0) 100%
  );
  position: absolute;
  top: -5rem;
  left: -8rem;
  pointer-events: none;
}
.container_experience > h1 {
  margin: 4rem 2rem 3.3rem;
  font-size: var(--titles-iphone);
  font-family: var(--titles-font-family);
  font-weight: var(--extraBold);
  text-align: center;
}
.container_card--experience {
  display: grid;
  grid-template-columns: 354px;
  row-gap: 2rem;
  position: relative;
  z-index: 1;
}
.experience {
  display: grid;
  background: var(--noble-black-500);
  border: 1px solid var(--noble-black-300);
  justify-items: center;
  border-radius: 13px;
  row-gap: 15px;
  padding: 2.4rem;
}
.container_img--freelancer,
.container_img--platzi {
  display: flex;
  position: relative;
  align-items: self-start;
}
.icon_freelancer,
.icon_platzi {
  position: absolute;
}

.icon_freelancer-color {
  transform: scale(0);
  transform-origin: left bottom;
  transition: 0.2s ease-in-out all;
}
.icon_platzi-color {
  transform: scale(0);
  transform-origin: top;
  transition: 0.2s ease-in-out all;
}
.experience:hover .icon_freelancer-color,
.experience:hover .icon_platzi-color {
  transform: scale(1);
}

.container_text--experience {
  display: grid;
  row-gap: 15px;
  text-align: center;
}
.title_experience {
  text-align: center;
  font-size: var(--subtitles-iphone);
  font-family: var(--titles-font-family);
  font-weight: var(--extraBold);
  background: var(--sunGlow-sunRed-400g1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button_experience--freelancer,
.button_experience--platzi {
  border: none;
  text-align: center;
  align-self: self-end;
  border-radius: 13px;
  width: 16.2rem;
  height: 4.6rem;
  color: var(--white-bone-200);
  background-image: var(--sunGlow-sunRed-400g1);
}
.button_experience--freelancer > a,
.button_experience--platzi > a {
  text-align: center;
  font-size: var(--texts-iphone);
  font-weight: var(--bold);
  font-family: var(--texts-font-family);
  color: var(--white-bone-200);
}
.experience:hover .button_experience--freelancer {
  background-image: linear-gradient(180deg, #2a8b93 0%, #12151c 100%);
}
.experience:hover .button_experience--platzi {
  background-image: linear-gradient(360deg, #7dac29 0%, #12151c 100%);
}

/**area de technology*/
.container_technology {
  display: grid;
  position: relative;
  background: var(--blue-night-400);
  padding-bottom: 5rem;
}
.container_technology .brillo {
  width: 22.7rem;
  height: 24.6rem;
  border-radius: 100%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 230, 0, 0.46) 0%,
    rgba(245, 70, 1, 0.28) 53.12%,
    rgba(255, 0, 0, 0) 100%
  );
  position: absolute;
  top: 0rem;
  right: -8rem;
  pointer-events: none;
  z-index: 1;
}
.container_technology > h1 {
  margin: 4rem 0 3.3rem;
  font-size: var(--titles-iphone);
  font-family: var(--titles-font-family);
  font-weight: var(--extraBold);
  text-align: center;
  position: relative;
  z-index: 1;
}
.container_card--technology {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(32.3rem, 35.4rem));
  grid-auto-rows: minmax(22.4rem, 24.3rem);
  gap: 2rem;
  position: relative;
  z-index: 1;
}
.technology {
  display: grid;
  justify-items: center;
  align-content: center;
  background: var(--noble-black-500);
  border: 1px solid var(--noble-black-300);
  border-radius: 13px;
  row-gap: 15px;
  padding: 4.2rem;
}

.containeri-img--icons {
  display: flex;
  position: relative;
}

.icon-blanco {
  position: absolute;
}
.icon-color {
  transform: scale(0);
}
.technology:hover .icon-color {
  transition: 0.2s ease-in;
  transform: scale(1);
}
.technology:hover .icon-blanco {
  transition: 0.1s ease-in-out;
  transform: scale(0);
}
.technology > h2 {
  font-size: var(--subtitles-desktop);
  font-weight: var(--bold);
  font-family: var(--titles-font-family);
  background: var(--sunGlow-sunRed-400g1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
