.container_text--sabiduria {
  padding: 5rem 20rem 6rem;
}

.text_sabiduria {
  font-size: var(--texts-desktop);
}
.brillo-top {
  right: 15rem;
}
.brillo-bottom {
  left: 17rem;
}
.titles_certificates {
  font-size: var(--titles-desktop);
}
.container_certificates .indicadores_carusel {
  display: flex;
}
/* !temporal e iphone */
@media (min-width: 1024px) {
  .button-left {
    width: 4%;
    height: 86%;
  }

  .button-right {
    width: 4%;
    height: 86%;
  }
}
