main {
  background: var(--blue-night-400);
}
.container_text--sabiduria {
  text-align: center;
  display: grid;
  justify-content: center;
  padding: 0 2rem;
  margin-bottom: 4rem;
}
.container_text--sabiduria > h1 {
  font-size: var(--titles-iphone);
  font-weight: var(--extraBold);
  font-family: var(--titles-font-family);
  margin-bottom: 16px;
}
.container_text--sabiduria > p,
.description--projects {
  font-size: var(--texts-iphone);
  font-weight: var(--regular);
  line-height: var(--texts-height-iphone);
  font-family: var(--texts-font-family);
  line-break: auto;
}

.container_projects {
  display: grid;
  margin: 0 2rem;
  justify-content: center;
  row-gap: 4.2rem;
  padding-bottom: 14rem;
}

.container_text--projects > h3 {
  font-size: var(--texts-iphone);
  font-weight: var(--bold);
  font-family: var(--texts-font-family);
  background: var(--sunGlow-sunRed-400g1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 6px;
}
.container_text--projects > h1 {
  font-size: var(--titles-iphone);
  font-weight: var(--extraBold);
  font-family: var(--titles-font-family);
  margin-bottom: 4px;
}
.container_description--left {
  background: var(--projects-gradiend-100g1);
  border-radius: 14px;
  padding: 1rem 1.3rem;
}

.container_description--right {
  background: var(--projects-gradiend-100g2);
  border-radius: 14px;
  padding: 1rem 1.3rem;
}

.container_img--projects {
  /*! esta medida es temporal */
  width: 33.5rem;
  height: 25.6rem;
  border-radius: 14px;
  margin-top: 1.3rem;
  position: relative;
}
.container_img--projects > figure {
  position: relative;
  z-index: 1;
}

.brillo-left {
  width: 22.7rem;
  height: 24.6rem;
  border-radius: 100%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 230, 0, 0.46) 0%,
    rgba(245, 70, 1, 0.28) 53.12%,
    rgba(255, 0, 0, 0) 100%
  );
  position: absolute;
  top: 13rem;
  right: 0rem;
  pointer-events: none;
}
.brillo-right {
  width: 22.7rem;
  height: 24.6rem;
  border-radius: 100%;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 230, 0, 0.46) 0%,
    rgba(245, 70, 1, 0.28) 53.12%,
    rgba(255, 0, 0, 0) 100%
  );
  position: absolute;
  top: 13rem;
  left: -8rem;
  pointer-events: none;
}

.brillo-right,
.brillo-left {
  animation: respite 2s infinite cubic-bezier(0.18, 0.35, 0.63, 0.4);
}

@keyframes respite {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}

.contact_img-left {
  box-shadow: 18px -14px 15px var(--shade-left-up);
}
.contact_img-right {
  box-shadow: -18px -14px 15px var(--shade-right-up);
}
.img--projects img {
  border-radius: 14px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container_icons--share {
  display: flex;
  justify-content: space-evenly;
  background: var(--blue-night-low-500);
  border-radius: 14px;
  padding: 12px 0;
  z-index: 1;
  position: absolute;
  width: 100%;
  bottom: 0px;
  transform: scale(0);
  transition: 0.2s cubic-bezier(0.96, 0.51, 0.66, 1.53);
  transform-origin: bottom;
}
.container_img--projects:hover .container_icons--share {
  transform-origin: bottom;
  transition: 0.4s cubic-bezier(0.96, 0.51, 0.66, 1.53);
  transform: scale(1);
}
