main{
    background: var(--background-main-color);
}
.container_text--sabiduria{
    text-align: center;
    display: grid;
    justify-content: center;
    padding: 0 2rem;
    margin-bottom: 4rem;
}
.container_text--sabiduria > h1{
    font-size: var(--iphone-titles-bold-size);
    font-weight: var(--titles-bold-weight);
    font-family: var(--titles-font-family);
    margin-bottom: 16px;
}
.container_text--sabiduria > p{
    font-size: var(--iphone-texts-size);
    font-weight: var(--texts-weight);
    line-height: var(--iphone-texts-height);
    font-family: var(--texts-font-family);
    line-break: auto;
}

.container_projects{
    display: grid;
    margin: 0 2rem;
    justify-content: center;
    row-gap: 4.2rem;
    padding-bottom: 14rem;
}

.container_text--projects > h3{
    font-size: var(--iphone-texts-size);
    font-weight: var(--texts-weight);
    font-family: var(--texts-font-family);
    background: var(--fonts-radial);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 6px;
}
.container_text--projects > h1{
    font-size: var(--iphone-titles-bold-size);
    font-weight: var(--titles-bold-weight);
    font-family: var(--titles-font-family);
    margin-bottom: 4px;
}
.container_description--left{
    background: linear-gradient(91.45deg, rgba(255, 230, 0, 0.03) 11.03%, rgba(255, 98, 0, 0.19) 59.3%, rgba(186, 24, 24, 0.24) 95.28%);
border-radius: 14px;
    padding: 1rem 1.3rem;
}

.container_description--right{
    background: linear-gradient(261.3deg, rgba(255, 230, 0, 0.03) 10.91%, rgba(255, 98, 0, 0.19) 57.99%, rgba(186, 24, 24, 0.24) 93.1%);
border-radius: 14px;
    padding: 1rem 1.3rem;
}
.description--projects{
    font-size: var(--iphone-texts-size);
    font-weight: var(--texts-weight);
    line-height: var(--iphone-texts-height);
    font-family: var(--texts-font-family);
    line-break: auto;
}

.container_img--projects{
    
    /*! esta medida es temporal */
    width: 33.5rem;
    height: 25.6rem;
    border-radius: 14px;
    margin-top: 1.3rem;
    position: relative;
}
.contact_img-left{
    box-shadow: 18px -14px 15px rgba(44, 39, 55, 0.79);
}
.contact_img-right{
    box-shadow: -18px -14px 15px rgba(44, 39, 55, 0.79);
}
.container_img--projects  img{
    border-radius: 14px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container_icons--share{
    display: flex;
    justify-content: space-evenly;
    background: rgba(217, 217, 217, 0.22);
    border-radius: 14px;
    padding: 12px 0;
    z-index: 1;
    position: absolute;
    width: 100%;
    bottom: 0px;
    transform: scale(0);
    transition: 0.2s cubic-bezier(0.96, 0.51, 0.66, 1.53);
    transform-origin: bottom;
}
.container_img--projects:hover .container_icons--share{
    transform-origin: bottom;
    transition: 0.4s cubic-bezier(0.96, 0.51, 0.66, 1.53);
    transform: scale(1);    
}

