.container_text--sabiduria {
  padding: 0 27.6rem;
  margin-bottom: 13rem;
}
.container_text--sabiduria > h1 {
  font-size: var(--titles-desktop);
  margin: 2rem 0;
}
.container_text--sabiduria > p {
  font-size: var(--texts-desktop);
  line-height: var(--texts-height-desktop);
}
.container_projects {
  margin: 0 19rem;
}
.container_text--projects > h3 {
  font-size: var(--texts-desktop);
}
.container_text--projects > h1 {
  font-size: var(--titles-desktop);
}
.description--projects {
  font-size: var(--texts-desktop);
  line-height: var(--texts-height-desktop);
}
.contact_project.projects-left {
  display: flex;
}
.contact_project.projects-right {
  display: flex;
  flex-direction: row-reverse;
}
.text-right > h3 {
  text-align: end;
}
.text-right > h1 {
  text-align: end;
}
.container_img--projects {
  width: 43.8rem;
  height: 25.6rem;
}
.brillo-left {
  width: 38.1rem;
  height: 41.3rem;
  top: -7rem;
  right: -18rem;
}
.brillo-right {
  width: 38.1rem;
  height: 41.3rem;
  top: -7rem;
  left: -18rem;
}
