@import url("https://fonts.googleapis.com/css2?family=Carter+One&family=Merriweather:wght@400;700;900&family=Montserrat:wght@400;700;800&display=swap");
:root {
  /* colo */
  --white-bone-200: #f6fcfd;
  --blue-night-low-500: rgba(8, 11, 20, 0.49);
  --blue-night-400: #0d111e;
  --noble-black-500: #1d1e1f;
  --noble-black-300: #4c4e51;
  --sun-red-400: #e44104;
  --sunGlow-sunRed-400g1: linear-gradient(180deg, #edd600 0%, #e44104 100%);
  --projects-gradiend-100g1: linear-gradient(
    91.45deg,
    rgba(237, 214, 0, 0.03) 11.03%,
    rgba(255, 98, 0, 0.19) 59.3%,
    rgba(201, 48, 4, 0.24) 95.28%
  );
  --projects-gradiend-100g2: linear-gradient(
    261.3deg,
    rgba(237, 214, 0, 0.03) 10.91%,
    rgba(255, 98, 0, 0.19) 57.99%,
    rgba(201, 48, 4, 0.24) 93.1%
  );
  --unique-sunset: radial-gradient(
    212.74% 78.26% at 50% 0%,
    rgba(228, 207, 13, 0.99) 0%,
    rgba(163, 24, 24, 0.96) 29.31%,
    #0d121d 67.28%
  );
  --shade-right-up: rgba(104, 105, 107, 0.21);
  --shade-left-up: rgba(104, 105, 107, 0.21);
  /* variables text */
  --unic-font-family: "Carter One", cursive;
  --titles-font-family: "Merriweather", serif;
  --texts-font-family: "Montserrat", sans-serif;
  --regular: 400;
  --bold: 700;
  --extraBold: 800;
  --titles-iphone: 20px;
  --subtitles-iphone: 18px;
  --texts-iphone: 16px;
  --texts-height-iphone: 24px;
  --titles-desktop: 28px;
  --subtitles-desktop: 24px;
  --texts-desktop: 18px;
  --texts-height-desktop: 28px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
}

body {
  color: var(--white-bone-200);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}

button {
  border-style: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #3d3d3d;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #f5af19, #f12711);
  border-radius: 3rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #bd4103;
}
