header {
    position: static;
    top: 0;
    z-index: 0;
}

.navar--mobile {
    display: none;
}

.navar--desktop {
    display: block;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav {
    height: 6.2rem;
}

.red_container {
    display: flex;
    height: auto;
    padding-right: 2rem;
}

.red_container>.contenido {
    display: flex;
    align-items: flex-end;
    margin: 0 1rem;
}


.contenido {
    transition: all ease-in-out 0.5s;
}

.contenido:hover {
    transform: scale(1.2);
    transform-origin: bottom;
    transition: all ease-in-out 0.2s;
}

.contenido>.share_link {
    font-size: var(--desktop-titles-size);
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 10rem;
    margin: 0 2.7rem;
}
.conten_text{
    align-self: center;
}
.text_static{
    font-size: 50px;
}
.container_image--daniel{
    display: block;
}