body {
  background: var(--unique-sunset);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container_image--logo {
  margin-top: 7rem;
}
.text_static {
  margin-top: 6rem;
  font-family: var(--unic-font-family);
  font-weight: var(--extraBold);
  font-size: 32px;
  text-align: center;
  color: var(--white-bone-200);
}
.container_image--daniel {
  display: none;
}
