main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 10rem;
  margin: 0 2.7rem;
}
.conten_text {
  align-self: center;
}
.text_static {
  font-size: 50px;
}
.container_image--daniel {
  display: block;
}
